@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <a class="navbar-brand" href="/">Sistema de Nómina</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">

            <li class="nav-item">
                <NavLink class="nav-link" href="/login">Login</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/empleados" Match="NavLinkMatch.All">Empleados</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/departamentos" Match="NavLinkMatch.All">Departamentos</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/cargos" Match="NavLinkMatch.All">Cargos</NavLink>
            </li>
        </ul>
    </div>
</nav>

